@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;

}

.bg-primary{
  background: rgb(85 81 227);
}
.bg-secondary{
  background:  #082bc9;
}
.mobile-nav{
   @apply  fixed top-10 left-0  bg-gray-900  w-full  h-1/3 ;
}

.mobile-nav li{
  @apply w-full h-1/3 text-center border-b-2;
}
.navigation{
background: #08c91b

}
.bd-third{
  text:#c96508
}
/* .project-desc{
  @apply 

} */
 html{
  scroll-behavior: smooth;
 }